
header{
    height: 500px;
    background-image: url(img2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

@media (max-width: 500px) {
    header {
      height: 300px;
      line-height: 1.2;
    }
}

header h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: normal;
    z-index: 1;
    width: 780px;
    text-align: center;
}

@media (max-width: 500px) {
	header h1{
	  font-size: 40px;
	}
}

.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

a{  
    cursor: pointer;
}


a.button {
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 100px;
  }
  
a.button:hover {
    background-color: white;
    color: black;
}

#menu {
    display: none;
}

#menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media (max-width: 500px) {
    #links {
      display: none;
    }
  
    #menu {
      display: block;
    }
}

header nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: .875em;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

#logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

@media (max-width: 500px) {
	#logo {
	  font-size: 1em;
	}
}

#links a{
    margin: 15px;
    text-transform: uppercase;
    padding-right: 10px;
}

body{
    margin: 0px;
    color: rgba(26, 26, 26, .7);
}

@media (max-width: 500px) {
    section {
      margin: 40px 10px;
    }
}

#main{
    text-align: center;
    padding: 50px;
    padding-bottom: 10px;
    font-family: 'Kanit', sans-serif;
}

#main h1{
    border-bottom: 1px solid #262626;
}


#details {
    font-family: 'Merriweather', 'serif';
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    font-weight: normal;
    flex-wrap: wrap;
}

#details div {
    flex-grow: 1;
    padding: 20px;
}

#details img {
    width: 150px;
    height: 150px;
    flex-direction: column;
}

#details h1 {
    color: rgb(61, 153, 145);
    letter-spacing: 2px;
}

#details a{
    padding: 10px 15px;
    border: 2px solid black;
}

#news{
    text-align: center;
    padding: 50px;
    font-family: 'Kanit', sans-serif;
}

#news h1{
    border-bottom: 1px solid #262626;

}

#last_news{
    font-family: 'Merriweather', 'serif';
    max-width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: normal;
    flex-flow: column wrap;
    flex-wrap: wrap;
}

#last_news div {
    flex-grow: 1;
    padding: 20px;
}

#last_news img {
    width: 300px;
    height: 300px;
    flex-direction: column;
}

#last_news a{
    padding-bottom: 5px;
    border-bottom: 1px solid #262626;
}

#last_news h1{
    font-family: 'Kanit', sans-serif;
    color: #262626;
}


footer {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
    padding: 75px;
  }

footer .column{
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
    font-weight: normal;
    display: flex;
}

footer .colonna1{
    padding-bottom: 30px;
}

footer .colonna2{
    padding-bottom: 30px;
}

footer .colonna3{
    padding-bottom: 30px;
}

footer p {
    color: rgba(255, 255, 255, .4);
    flex-direction: column;
}

footer .author{
    text-align: center;
    padding-bottom: 100px;
}


#players-view{
    display: flex;
    flex-wrap: wrap;
}

#players-view .player{
    margin: 10px;
    border: 1px solid slategray;
    padding: 5px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
}

.containerAPIricercaGiocatore{
    padding: 50px 50px 0px 50px;
}

.containerAPIricercaGiocatore h1{
    font-family: 'Kanit', sans-serif;
    border-bottom: 1px solid #262626;
    text-align: center;
}

.containerAPIselezionaCampionato{
    padding: 50px 50px 0px 50px;
}

.containerAPIselezionaCampionato h1{
    font-family: 'Kanit', sans-serif;
    border-bottom: 1px solid #262626;
    text-align: center;
}

form{
    padding: 10px 0px 10px 0px;
}

#leagues-view{
    padding: 20px 40px 0px 40px;
    display: flex;
    flex-wrap: wrap;
}

#leagues-view .league{
    margin: 10px;
    border: 1px solid slategray;
    padding: 10px;
    max-width: 100%;
    display: flex;
    flex-direction:column;
}

#leagues-view .league .headerContainer img{
    height: 40px;
    width: 40px;
    padding-top: 10px;
}

#leagues-view .league .headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}